<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>tmc.kro.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
    
    <!-- 여기에 카메라·앨범 권한 설명 추가 -->
    <key>NSCameraUsageDescription</key>
    <string>실종 동물 신고를 위해 카메라 사용 권한이 필요합니다.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>앨범에서 사진을 선택하기 위해 사진 접근 권한이 필요합니다.</string>
</dict>
</plist>
